footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: red;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    box-sizing: border-box;
}